@import "tailwindcss";

:root{
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* min-width: 320px;
  min-height: 100vh; */

  color: #fff;
  
  background:#000;

  background-attachment: fixed;
}

::selection {
  background: #1a5be8;
  color: #fff;
}

.container{
  background:
    radial-gradient(
    ellipse 1100px 850px at 0% 0%,
    rgba(105, 158, 220, 0.95) 0%,
    rgba(82, 132, 195, 0.82) 20%,
    rgba(55, 100, 158, 0.66) 38%,
    rgba(30, 61, 98, 0.45) 55%,
    rgba(10, 23, 38, 0.20) 70%,
    transparent 92%
  ),
  rgba(0, 0, 0, 0.42);

  width: 100%;
  height: 100%;
  padding: 20px;

}

.main-container {
  width: calc(100% - 42px);
  overflow: hidden;
  border-radius: 30px;
  border: none;

  background:
    radial-gradient(
    ellipse 1100px 850px at 0% 0%,
    rgba(105, 158, 220, 0.70) 0%,
    rgba(82, 132, 195, 0.58) 20%,
    rgba(55, 100, 158, 0.45) 38%,
    rgba(30, 61, 98, 0.30) 55%,
    rgba(10, 23, 38, 0.12) 70%,
    transparent 92%
  ),
  rgba(0, 0, 0, 0.42);

  box-shadow:
    0 30px 90px rgba(0, 0, 0, 0.65);
}




.navbar-wrapper {
  width:100%;

  margin:20;
}

.container-page {
  width: calc(100% - 110px);

  margin-inline: auto;
}


.hero-grid {
  position: relative;

  background: transparent;
}



.hero-grid::before {
  content: "";

  position: absolute;

  inset: 0;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.008) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.008) 1px,
      transparent 1px
    );

  background-size: 48px 48px;

  pointer-events: none;
}

.text-balance {
  text-wrap: balance;
}


/* =========================================================
   TABLET
   ========================================================= */

@media (max-width: 1200px) {

  .navbar-wrapper {
    width: calc(100% - 80px);
  }

  .container-page {
    width: calc(100% - 70px);
  }
}


/* =========================================================
   MOBILE
   ========================================================= */

@media (max-width: 768px) {

  body {
    background:
      radial-gradient(
        ellipse 650px 520px at 0% 0%,
        rgba(47, 94, 151, 0.70) 0%,
        rgba(27, 57, 94, 0.40) 40%,
        transparent 78%
      ),
      #000;
  }

  .main-container {
    width: calc(100% - 20px);
    margin-top: 10px;
    border-radius: 24px;
  }

  .navbar-wrapper {
    width: calc(100% - 32px);
  }

  .container-page {
    width: calc(100% - 36px);
  }
}