@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap');
@import "tailwindcss";

:root{
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background:#000;
  background-attachment: fixed;
}

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* All headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-jakarta);
}

/* All paragraphs */
p {
  font-family: var(--font-inter);
  font-weight: 400;
}

::selection {
  background: #1a5be8;
  color: #fff;
}

.home-shell{
  background: radial-gradient(
    circle at top left,
    #5599FA 0%,
    #000000 43%,
    #000000 100%
  );
 
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 20px;

}

.main-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
 
  border-radius: 30px;

  background:
    radial-gradient(
      ellipse 1100px 850px at 0% 0%,
      rgba(105, 158, 220, 0.70) 0%,
      rgba(82, 132, 195, 0.58) 20%,
      rgba(55, 100, 158, 0.45) 38%,
      rgba(30, 61, 98, 0.30) 55%,
      rgba(10, 23, 38, 0.12) 70%,
      transparent 92%
    ),
    rgba(0, 0, 0, 0.42);

  box-shadow:
    0 30px 90px rgba(0, 0, 0, 0.65);
}


.container-page {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  padding-left: clamp(24px, 5vw, 80px);
  padding-right: clamp(24px, 5vw, 80px);
}


.hero-grid {
  position: relative;

  background: transparent;
}



.hero-grid::before {
  content: "";

  position: absolute;

  inset: 0;

  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.008) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.008) 1px,
      transparent 1px
    );

  background-size: 48px 48px;

  pointer-events: none;
}

.text-balance {
  text-wrap: balance;
}


/*   TABLET */

@media (max-width: 1200px) {
  .home-shell {
    padding: 14px;
  }

  .main-container {
    border-radius: 26px;
  }

  .navbar-wrapper {
    padding-left: clamp(10px, 2vw, 30px);
    padding-right: clamp(10px, 2vw, 30px);
  }
}


/*  MOBILE  */

@media (max-width: 768px) {
  body {
    background:
      radial-gradient(
        ellipse 650px 520px at 0% 0%,
        rgba(47, 94, 151, 0.70) 0%,
        rgba(27, 57, 94, 0.40) 40%,
        transparent 78%
      ),
      #000;
  }

  .home-shell {
    width: 100%;
    padding: 10px;
  }

  .main-container {
    width: 100%;
    margin-top: 0;
    border-radius: 24px;
  }

  .navbar-wrapper {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .container-page {
    width: 100%;
  }
}



@keyframes heroFloat {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-35px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-float {
  animation: heroFloat 4s ease-in-out infinite;
}
